.page_wrapper {
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
    
}
.content__title {
    font-size: 1.5rem;
    margin: 20px 0;
    font-weight: bold;
    text-align: left;
}


.page__content {
    margin: 0 auto;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    
}

.content_image_wrapper {
    width: 50%;
} 

.content__item__info {
    align-items: flex-start;
}

.content__item__text {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: left;
}

.content__item__img {
    border-radius: 5px;
    transition: .3s ease-in-out;
}

/* .content__item__img:hover {
    transform: scale(1.1);
    
} */

.page__devider {
    margin: 3rem auto;
    height: 1px;
    background-color: rgb(122, 121, 121);
    width: 90%;
}

.action_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 50px auto;
}

.action_button h4 {
    font-size: clamp(1rem, 5vw, 2rem);
    text-align: center;
    margin-bottom: 3%;
}



@media screen and (max-width:768px){
    .content_image_wrapper, .page__content {
        width: 100%;
    }

    .content__title >h1 {
        font-size: 1.2rem;
    }

    .content__item__text {
        font-size: 1.2rem;
        line-height: 1.5rem;
        
    }
}